* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/img/back.jpg);
    background-size: 100%;
}

nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 114, 70);
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.welcome {
    font-size: 1.1em;
    margin: 100px;
    text-align: center;
    color: white;
}

/* ==========================================================================
    Carte 
========================================================================== */

.menu-items {
    text-align:center;
    margin:0 auto;
    color: white;
}
.menu-titles h3 {
    color: white;
    text-shadow:none;
    text-align:center;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:15px;
}
#food-menu ul {
    color: white;
    margin:0;
    padding:0;
    list-style:none;
}

section { /* flex sur le parent */
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

section img {
    margin-top: 5px;
    width: 150px;
}

section p {
    color: white;
}

h4 {
    margin-top: 20px;
    color: white;
}

/* ==========================================================================
    Reservation 
========================================================================== */
.form-group {
    margin-bottom:24px;
}

#but1 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(20, 19, 19); 
}
  
#but1:hover {
    background-color: #4e925a;
    color: white;
}

#but2 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(20, 19, 19); 
}
  
#but2:hover {
    background-color: #b43d3d;
    color: white;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor:not-allowed;
    background-color: transparent;
}
.form-control {
    color: white;
    height:38px;
    font-size:14px;
    vertical-align:middle;
    background-color:transparent;
    border-radius:2px;
    box-shadow:none !important;
    transition:none !important;
}

.form p {
    margin: 10px 0 30px 0;
}