* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/img/back.jpg);
    background-size: cover;
}

nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 114, 70);
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.welcome {
    font-size: 1.1em;
    margin: 100px;
    text-align: center;
    color: white;
}

/* ==========================================================================
    Carte 
========================================================================== */

.menu-items {
    text-align:center;
    margin:0 auto;
    color: white;
}
.menu-titles h3 {
    color: white;
    text-shadow:none;
    text-align:center;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:15px;
}
#food-menu ul {
    color: white;
    margin:0;
    padding:0;
    list-style:none;
}

section { /* flex sur le parent */
    display: flex;
    justify-content: space-between;
}

section img {
    margin-top: 5px;
    width: 150px;
}

section p {
    color: white;
}

/* ==========================================================================
    Reservation 
========================================================================== */
.form-group {
    margin-bottom:24px;
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor:not-allowed;
    background-color: transparent;
}
.form-control {
    color: white;
    height:38px;
    font-size:14px;
    vertical-align:middle;
    background-color:transparent;
    border-radius:2px;
    box-shadow:none !important;
    transition:none !important;
}

.form p {
    margin: 10px 0 30px 0;
}